<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

<bean id="loginDealAction" class="com.lxy.action.LoginDealAction" scope="prototype">
	<property name="us" ref="UserService"/>
</bean>
<bean id="updateUserDealAction" class="com.lxy.action.UpdateUserDealAction" scope="prototype">
	<property name="us" ref="UserService"/>
</bean>
<bean id="updateUserLinkAction" class="com.lxy.action.UpdateUserDealAction" scope="prototype">
	<property name="us" ref="UserService"/>
</bean>
<bean id="registDealAction" class="com.lxy.action.RegistDealAction" scope="prototype">
	<property name="us" ref="UserService"/>
</bean>
<bean id="user" class="com.lxy.model.User"></bean>

<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	<property name="driverClass" value="com.mysql.jdbc.Driver"/>
	<property name="jdbcUrl" value="jdbc:mysql://localhost/test"/>
	<property name="user" value="root"/>
	<property name="password" value="root"/>
</bean>

<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"> -->
	<property name="dataSource" ref="dataSource"/>
<!-- 	<property name="mappingResources"> -->
<!-- 		<list> -->
<!-- 			<value>com/lxy/model/User.hbm.xml</value> -->
<!-- 		</list> -->
<!-- 	</property> -->
	<property name="packagesToScan" value="com.lxy.*"/>
	<property name="hibernateProperties">
		<value>
			hibernate.dialect=org.hibernate.dialect.MySQLDialect
			hibernate.hbm2ddl.auto=update
			hibernate.show_sql=true
		</value>
	</property>
</bean>
<bean id="userDAO" class="com.lxy.dao.impl.UserDAOImpl">
	<property name="sessionFactory" ref="sessionFactory"/>
</bean>
<bean id="UserService" class="com.lxy.service.impl.UserServiceImpl">
	<property name="userDAO" ref="userDAO"/>
</bean>
<bean id="txManager"  class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
<property name="sessionFactory" ref="sessionFactory" />  
</bean>  
</beans>